body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u16 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:200px;
  width:450px;
  height:500px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:360px;
  width:300px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:430px;
  width:300px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:271px;
  width:30px;
  height:28px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:250px;
  width:155px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:155px;
  white-space:nowrap;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:500px;
  width:149px;
  height:30px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(251, 206, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:590px;
  width:300px;
  height:50px;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:392px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:462px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:6px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:390px;
  width:300px;
  height:3px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:6px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:460px;
  width:300px;
  height:3px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:533px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#DD1D21;
  text-align:left;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:152px;
  height:6px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:530px;
  width:149px;
  height:3px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:497px;
  width:130px;
  height:37px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
