<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TagActiveDao">
	<insert id="insertTag" parameterType="tagActive">
		insert into tagActive(name,description,area) values(#{name},#{description},#{area})
	</insert>
	<insert id="insertVipTag">
		insert into tagActiveGroup(carduser_id,name,mobilePhone,tagId) values
		<foreach collection="list" separator=","  item="item">
			(#{item.carduser_id},#{item.name},#{item.mobilePhone},#{tagId})
		</foreach>
	</insert>
	<delete id="delete" parameterType="Integer">
		delete from tagActive where id=#{id}
	</delete>
	<delete id="deleteVipTag" parameterType="Integer">
		delete from tagActiveGroup where tagId=#{id}
	</delete>
	<select id="queryAll" resultType="TagActive">
		select id,name,description,area from tagActive
	</select>
	<select id="queryByArea" resultType="TagActive">
		select id,name,description,area from tagActive where area=#{area}
	</select>
	<select id="queryAllVipTag" parameterType="List" resultType="String">
		select distinct carduser_id from tagActiveGroup
	<if test="list!=null">
		<where>
				tagId in 
				<foreach collection="list" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
		</where>
	</if>
	</select>
</mapper>
