@charset "UTF-8";

/*共用*/
.malaysiaDitch,
.singleTower,
.hanmaCamp,
.citic,
.stoneCavern,
.toudaogou,
.wangjiagou,
.newRoad,
.district,
.yuanbao,
.eighteenLi,
.northPalace,
.beiXiao,
.S26,
.S07,
.S12,
.S17,
.S29,
.S24,
.S23,
.S13,
.S18,
.S20,
.S28,
.S22,
.S21,
.S16,
.S08,
.S31,
.S02,
.S30,
.S15,
.S06,
.xiaoHM{
	width: 1132px;
	height: 832px;
	overflow: hidden;
}
.malaysiaDitch .malaysiaMain,
.singleTower .singleMain,
.hanmaCamp .hanmaMain,
.citic .citicMain,
.stoneCavern .cavernMain,
.wangjiagou .wangMain,
.district .districtMain,
.yuanbao .yuanbaoMain,
.eighteenLi .eighteenMain,
.beiXiao .beiXiaoMain,
.S26 .S26Main,
.S29 .s29Main,
.S24 .s24Main,
.S23 .S23Main,
.S18 .s18Main,
.S20 .s20Main,
.S22 .s22Main,
.S21 .s21Main,
.S16 .s16Main,
.S08 .s08Main,
.S31 .s31Main,
.S15 .s15Main,
.S06 .s06Main{
	width: 520px;
	height: 435px;
	margin:190px 0 0 220px;
	font-size: 15px;
}
.malaysiaDitch span,
.singleTower span,
.hanmaCamp span,
.citic span,
.stoneCavern span{

	display: inline-block;
	font-size: 15px;
}
.malaysiaMain .stationOne,
.malaysiaMain .stationTwo,
.malaysiaDitch .stationThree,
.malaysiaDitch .stationFour,
.singleMain .stationOne,
.singleMain .stationTwo,
.singleMain .stationThree,
.singleMain .stationFour,
.hanmaMain .stationOne,
.hanmaMain .stationTwo,
.hanmaMain .stationThree,
.hanmaMain .stationFour,
.citicMain .stationOne,
.citicMain .stationTwo,
.citicMain .stationThree,
.citicMain .stationFour,
.cavernMain .stationOne,
.cavernMain .stationTwo,
.cavernMain .stationThree,
.cavernMain .stationFour,
.wangMain .stationOne,
.wangMain .stationTwo,
.wangMain .stationThree,
.wangMain .stationFour,
.newRoadMain .stationOne,
.newRoadMain .stationTwo,
.newRoadMain .stationThree,
.districtMain .stationOne,
.districtMain .stationTwo,
.districtMain .stationThree,
.districtMain .stationFour,
.yuanbaoMain .stationOne,
.yuanbaoMain .stationTwo,
.yuanbaoMain .stationThree,
.yuanbaoMain .stationFour,
.eighteenMain .stationOne,
.eighteenMain .stationTwo,
.eighteenMain .stationThree,
.eighteenMain .stationFour,
.northPalaceMain .stationOne,
.northPalaceMain .stationTwo,
.northPalaceMain .stationThree,
.northPalaceMain .stationFour,
.northPalaceMain .stationFive,
.northPalaceMain .stationSix,
.beiXiaoMain .stationOne,
.beiXiaoMain .stationTwo,
.beiXiaoMain .stationThree,
.S26Main .stationOne,
.S26Main .stationTwo,
.S26Main .stationThree,
.S26Main .stationFour,
.s07Main .stationOne,
.s07Main .stationTwo,
.s07Main .stationThree,
.s07Main .stationFour,
.s07Main .stationFive,
.s07Main .stationSix,
.s12Main .stationOne,
.s12Main .stationTwo,
.s12Main .stationThree,
.s12Main .stationFour,
.s12Main .stationFive,
.s12Main .stationSix,
.s12Main .stationSeven,
.s12Main .stationEight,
.s17Main .stationOne,
.s17Main .stationTwo,
.s17Main .stationThree,
.s29Main .stationOne,
.s29Main .stationTwo,
.s29Main .stationThree,
.s29Main .stationFour,
.s24Main .stationOne,
.s24Main .stationTwo,
.s24Main .stationThree,
.s24Main .stationFour,
.S23Main .stationOne,
.S23Main .stationTwo,
.S23Main .stationThree,
.S23Main .stationFour,
.s13Main .stationOne,
.s13Main .stationTwo,
.s13Main .stationThree,
.s18Main .stationTwo,
.s18Main .stationThree,
.s18Main .stationFour,
.s22Main .stationOne,
.s22Main .stationTwo,
.s22Main .stationThree,
.s21Main .stationOne,
.s21Main .stationTwo,
.s21Main .stationThree,
.s21Main .stationFour,
.s16Main .stationOne,
.s16Main .stationTwo,
.s16Main .stationThree,
.s08Main .stationOne,
.s08Main .stationTwo,
.s08Main .stationThree,
.s08Main .stationFour,
.s31Main .stationOne,
.s31Main .stationTwo,
.s31Main .stationThree,
.s31Main .stationFour,
.s02Main .stationOne,
.s02Main .stationTwo,
.s02Main .stationThree,
.s30Main .stationOne,
.s30Main .stationTwo,
.s15Main .stationOne,
.s15Main .stationTwo,
.s15Main .stationThree,
.s15Main .stationFour,
.s06Main .stationOne,
.s06Main .stationTwo,
.s06Main .stationThree,
.s06Main .stationFour,
.xiaoHMMain .stationOne,
.xiaoHMMain .stationTwo,
.xiaoHMMain .stationThree,
.xiaoHMMain .stationFour,
.xiaoHMMain .stationFive{
	width: 114px;
	height: 142px;
	float: left;
	font-size: 15px;
}


/*大马沟加油站 开始*/
.malaysiaDitch{
	background:url(../images/gasStation/station_1.png) no-repeat;
}
	/*第一个*/
	.malaysiaMain .stationOne,
	.eighteenMain .stationOne{
		margin:32px 0 0 110px;
		position: relative;
	}
	.malaysiaMain .stationOne .upperLeft,
	.malaysiaDitch .stationTwo .upperLeft,
	.malaysiaDitch .stationThree .upperLeft,
	.malaysiaDitch .stationFour .upperLeft,
	.hanmaMain .stationTwo .upperLeft,
	.hanmaMain .stationFour .upperLeft,
	.hanmaMain .stationThree .upperLeft,
	.citicMain .stationThree .upperLeft,
	.citicMain .stationFour .upperLeft,
	.cavernMain .stationFour .upperLeft,
	.wangMain .stationThree .upperLeft,
	.wangMain .stationFour .upperLeft,
	.newRoadMain .stationOne .upperLeft,
	.districtMain .stationTwo .upperLeft,
	.districtMain .stationThree .upperLeft,
	.yuanbaoMain .stationOne .upperLeft,
	.eighteenMain .stationOne .upperLeft,
	.eighteenMain .stationTwo .upperLeft,
	.eighteenMain .stationThree .upperLeft,
	.eighteenMain .stationFour .upperLeft,
	.northPalaceMain .stationTwo .upperLeft,
	.northPalaceMain .stationThree .upperLeft,
	.northPalaceMain .stationFive .upperLeft,
	.northPalaceMain .stationSix .upperLeft,
	.beiXiaoMain .stationOne .upperLeft,
	.beiXiaoMain .stationTwo .upperLeft,
	.beiXiaoMain .stationThree .upperLeft,
	.S26Main .stationOne .upperLeft,
	.S26Main .stationTwo .upperLeft,
	.S26Main .stationThree .upperLeft,
	.S26Main .stationFour .upperLeft,
	.s07Main .stationOne .upperLeft,
	.s07Main .stationTwo .upperLeft,
	.s07Main .stationThree .upperLeft,
	.s07Main .stationFour .upperLeft,
	.s07Main .stationFive .upperLeft,
	.s07Main .stationSix .upperLeft,
	.s12Main .stationOne .upperLeft,
	.s12Main .stationTwo .upperLeft,
	.s12Main .stationThree .upperLeft,
	.s12Main .stationFour .upperLeft,
	.s17Main .stationOne .upperLeft,
	.s17Main .stationTwo .upperLeft,
	.s29Main .stationOne .upperLeft,
	.s29Main .stationTwo .upperLeft,
	.s29Main .stationThree .upperLeft,
	.s29Main .stationFour .upperLeft,
	.s24Main .stationOne .upperLeft,
	.s24Main .stationTwo .upperLeft,
	.s24Main .stationThree .upperLeft,
	.s24Main .stationFour .upperLeft,
	.S23Main .stationOne .upperLeft,
	.S23Main .stationTwo .upperLeft,
	.S23Main .stationThree .upperLeft,
	.S23Main .stationFour .upperLeft,
	.s13Main .stationOne .upperLeft,
	.s13Main .stationTwo .upperLeft,
	.s13Main .stationThree .upperLeft,
	.s18Main .stationTwo .upperLeft,
	.s18Main .stationThree .upperLeft,
	.s18Main .stationFour .upperLeft,
	.s20Main .stationOne .upperLeft,
	.s20Main .stationTwo .upperLeft,
	.s20Main .stationThree .upperLeft,
	.s20Main .stationFour .upperLeft,
	.s28Main .stationOne .upperLeft,
	.s28Main .stationTwo .upperLeft,
	.s28Main .stationThree .upperLeft,
	.s28Main .stationFour .upperLeft,
	.s22Main .stationOne .upperLeft,
	.s22Main .stationTwo .upperLeft,
	.s22Main .stationThree .upperLeft,
	.s21Main .stationOne .upperLeft,
	.s21Main .stationTwo .upperLeft,
	.s21Main .stationThree .upperLeft,
	.s21Main .stationFour .upperLeft,
	.s16Main .stationTwo .upperLeft,
	.s16Main .stationThree .upperLeft,
	.s08Main .stationOne .upperLeft,
	.s08Main .stationTwo .upperLeft,
	.s08Main .stationThree .upperLeft,
	.s08Main .stationFour .upperLeft,
	.s31Main .stationTwo .upperLeft,
	.s31Main .stationThree .upperLeft,
	.s02Main .stationOne .upperLeft,
	.s02Main .stationFour .upperLeft,
	.s02Main .stationFive .upperLeft,
	.s30Main .stationOne .upperLeft,
	.s30Main .stationTwo .upperLeft,
	.s15Main .stationOne .upperLeft,
	.s15Main .stationThree .upperLeft,
	.s06Main .stationOne .upperLeft,
	.s06Main .stationTwo .upperLeft,
	.s06Main .stationThree .upperLeft,
	.s06Main .stationFour .upperLeft,
	.xiaoHMMain .stationTwo .upperLeft,
	.xiaoHMMain .stationFour .upperLeft,
	.xiaoHMMain .stationFive .upperLeft{
		position: absolute;
		top:-25px;
		left:0;
		font-size: 15px;
	}
	.malaysiaMain .stationOne .lowerRight,
	.malaysiaDitch .stationTwo .lowerRight,
	.hanmaMain .stationTwo .lowerRight,
	.districtMain .stationTwo .lowerRight,
	.districtMain .stationThree .lowerRight,
	.yuanbaoMain .stationOne .lowerRight,
	.eighteenMain .stationOne .lowerRight,
	.eighteenMain .stationTwo .lowerRight,
	.northPalaceMain .stationTwo .lowerRight,
	.northPalaceMain .stationThree .lowerRight,
	.beiXiaoMain .stationOne .lowerRight,
	.S26Main .stationOne .lowerRight,
	.S26Main .stationTwo .lowerRight,
	.s07Main .stationFive .lowerRight,
	.s07Main .stationSix .lowerRight,
	.s12Main .stationOne .lowerRight,
	.s12Main .stationTwo .lowerRight,
	.s12Main .stationThree .lowerRight,
	.s12Main .stationFour .lowerRight,
	.s17Main .stationOne .lowerRight,
	.s17Main .stationTwo .lowerRight,
	.s29Main .stationOne .lowerRight,
	.s29Main .stationTwo .lowerRight,
	.S23Main .stationTwo .lowerRight,
	.s13Main .stationThree .lowerRight,
	.s18Main .stationTwo .lowerRight,
	.s18Main .stationThree .lowerRight,
	.s20Main .stationOne .lowerRight,
	.s20Main .stationTwo .lowerRight,
	.s28Main .stationOne .lowerRight,
	.s28Main .stationTwo .lowerRight,
	.s28Main .stationThree .lowerRight,
	.s28Main .stationFour .lowerRight,
	.s22Main .stationOne .lowerRight,
	.s22Main .stationTwo .lowerRight,
	.s22Main .stationThree .lowerRight,
	.s21Main .stationOne .lowerRight,
	.s21Main .stationTwo .lowerRight,
	.s21Main .stationThree .lowerRight,
	.s21Main .stationFour .lowerRight,
	.s16Main .stationOne .lowerRight,
	.s16Main .stationTwo .lowerRight,
	.s16Main .stationThree .lowerRight,
	.s08Main .stationOne .lowerRight,
	.s08Main .stationTwo .lowerRight,
	.s08Main .stationFour .lowerRight,
	.s31Main .stationThree .lowerRight,
	.s02Main .stationFive .lowerRight,
	.s30Main .stationOne .lowerRight,
	.s30Main .stationTwo .lowerRight,
	.s15Main .stationOne .lowerRight,
	.s15Main .stationThree .lowerRight,
	.s06Main .stationOne .lowerRight,
	.s06Main .stationTwo .lowerRight,
	.s06Main .stationThree .lowerRight,
	.s06Main .stationFour .lowerRight,
	.xiaoHMMain .stationOne .lowerRight,
	.xiaoHMMain .stationTwo .lowerRight,
	.xiaoHMMain .stationFour .lowerRight,
	.xiaoHMMain .stationFive .lowerRight{
		position: absolute;
		bottom:-25px;
		right:-8px;
		font-size: 15px;
	}
	/*第二个*/
	.malaysiaMain .stationTwo,
	.districtMain .stationTwo{
		margin:30px 0 10px 125px;
		position: relative;
	}
	.malaysiaDitch .stationTwo .upperRight,
	.hanmaMain .stationTwo .upperRight,
	.newRoadMain .stationOne .upperRight,
	.districtMain .stationTwo .upperRight,
	.districtMain .stationThree .upperRight,
	.yuanbaoMain .stationOne .upperRight,
	.eighteenMain .stationOne .upperRight,
	.eighteenMain .stationTwo .upperRight,
	.eighteenMain .stationThree .upperRight,
	.eighteenMain .stationFour .upperRight,
	.northPalaceMain .stationTwo .upperRight,
	.northPalaceMain .stationThree .upperRight,
	.northPalaceMain .stationFour .upperRight,
	.northPalaceMain .stationFive .upperRight,
	.northPalaceMain .stationSix .upperRight,
	.beiXiaoMain .stationOne .upperRight,
	.beiXiaoMain .stationTwo .upperRight,
	.beiXiaoMain .stationThree .upperRight,
	.S26Main .stationOne .upperRight,
	.S26Main .stationTwo .upperRight,
	.S26Main .stationThree .upperRight,
	.S26Main .stationFour .upperRight,
	.s07Main .stationOne .upperRight,
	.s07Main .stationTwo .upperRight,
	.s07Main .stationThree .upperRight,
	.s07Main .stationFour .upperRight,
	.s07Main .stationFive .upperRight,
	.s07Main .stationSix .upperRight,
	.s12Main .stationOne .upperRight,
	.s12Main .stationTwo .upperRight,
	.s12Main .stationThree .upperRight,
	.s12Main .stationFour .upperRight,
	.s17Main .stationOne .upperRight,
	.s17Main .stationTwo .upperRight,
	.s17Main .stationThree .upperRight,
	.s29Main .stationOne .upperRight,
	.s29Main .stationTwo .upperRight,
	.s29Main .stationThree .upperRight,
	.s29Main .stationFour .upperRight,
	.s24Main .stationThree .upperRight,
	.S23Main .stationTwo .upperRight,
	.S23Main .stationThree .upperRight,
	.s13Main .stationThree .upperRight,
	.s18Main .stationTwo .upperRight,
	.s18Main .stationThree .upperRight,
	.s18Main .stationFour .upperRight,
	.s20Main .stationOne .upperRight,
	.s20Main .stationTwo .upperRight,
	.s20Main .stationThree .upperRight,
	.s20Main .stationFour .upperRight,
	.s28Main .stationOne .upperRight,
	.s28Main .stationTwo .upperRight,
	.s28Main .stationThree .upperRight,
	.s28Main .stationFour .upperRight,
	.s22Main .stationOne .upperRight,
	.s22Main .stationTwo .upperRight,
	.s22Main .stationThree .upperRight,
	.s21Main .stationOne .upperRight,
	.s21Main .stationTwo .upperRight,
	.s21Main .stationThree .upperRight,
	.s21Main .stationFour .upperRight,
	.s16Main .stationTwo .upperRight,
	.s16Main .stationThree .upperRight,
	.s08Main .stationOne .upperRight,
	.s08Main .stationTwo .upperRight,
	.s08Main .stationThree .upperRight,
	.s08Main .stationFour .upperRight,
	.s31Main .stationOne .upperRight,
	.s31Main .stationTwo .upperRight,
	.s31Main .stationThree .upperRight,
	.s02Main .stationOne .upperRight,
	.s02Main .stationFour .upperRight,
	.s02Main .stationFive .upperRight,
	.s30Main .stationOne .upperRight,
	.s30Main .stationTwo .upperRight,
	.s15Main .stationOne .upperRight,
	.s15Main .stationTwo .upperRight,
	.s15Main .stationThree .upperRight,
	.s15Main .stationFour .upperRight,
	.s06Main .stationOne .upperRight,
	.s06Main .stationTwo .upperRight,
	.s06Main .stationThree .upperRight,
	.s06Main .stationFour .upperRight,
	.xiaoHMMain .stationTwo .upperRight,
	.xiaoHMMain .stationThree .upperRight,
	.xiaoHMMain .stationFour .upperRight,
	.xiaoHMMain .stationFive .upperRight{
		position: absolute;
		top:-25px;
		right:-10px;
		font-size: 15px;
	}
	.malaysiaDitch .stationTwo .lowerLeft,
	.hanmaMain .stationTwo .lowerLeft,
	.districtMain .stationTwo .lowerLeft,
	.districtMain .stationThree .lowerLeft,
	.yuanbaoMain .stationOne .lowerLeft,
	.eighteenMain .stationOne .lowerLeft,
	.eighteenMain .stationTwo .lowerLeft,
	.eighteenMain .stationThree .lowerLeft,
	.northPalaceMain .stationOne .lowerLeft,
	.northPalaceMain .stationTwo .lowerLeft,
	.northPalaceMain .stationThree .lowerLeft,
	.northPalaceMain .stationFour .lowerLeft,
	.beiXiaoMain .stationOne .lowerLeft,
	.S26Main .stationOne .lowerLeft,
	.S26Main .stationTwo .lowerLeft,
	.s07Main .stationFive .lowerLeft,
	.s07Main .stationSix .lowerLeft,
	.s12Main .stationOne .lowerLeft,
	.s12Main .stationTwo .lowerLeft,
	.s12Main .stationThree .lowerLeft,
	.s12Main .stationFour .lowerLeft,
	.s12Main .stationEight .lowerLeft,
	.s17Main .stationOne .lowerLeft,
	.s17Main .stationTwo .lowerLeft,
	.s17Main .stationThree .lowerLeft,
	.s29Main .stationOne .lowerLeft,
	.s29Main .stationTwo .lowerLeft,
	.s29Main .stationFour .lowerLeft,
	.S23Main .stationTwo .lowerLeft,
	.S23Main .stationThree .lowerLeft,
	.s13Main .stationThree .lowerLeft,
	.s18Main .stationTwo .lowerLeft,
	.s18Main .stationThree .lowerLeft,
	.s18Main .stationFour .lowerLeft,
	.s20Main .stationOne .lowerLeft,
	.s20Main .stationTwo .lowerLeft,
	.s20Main .stationThree .lowerLeft,
	.s28Main .stationOne .lowerLeft,
	.s28Main .stationTwo .lowerLeft,
	.s28Main .stationThree .lowerLeft,
	.s28Main .stationFour .lowerLeft,
	.s22Main .stationOne .lowerLeft,
	.s22Main .stationTwo .lowerLeft,
	.s22Main .stationThree .lowerLeft,
	.s21Main .stationOne .lowerLeft,
	.s21Main .stationTwo .lowerLeft,
	.s21Main .stationThree .lowerLeft,
	.s21Main .stationFour .lowerLeft,
	.s16Main .stationOne .lowerLeft,
	.s16Main .stationTwo .lowerLeft,
	.s16Main .stationThree .lowerLeft,
	.s08Main .stationOne .lowerLeft,
	.s08Main .stationTwo .lowerLeft,
	.s08Main .stationThree .lowerLeft,
	.s08Main .stationFour .lowerLeft,
	.s31Main .stationOne .lowerLeft,
	.s31Main .stationThree .lowerLeft,
	.s02Main .stationFour .lowerLeft,
	.s02Main .stationFive .lowerLeft,
	.s30Main .stationOne .lowerLeft,
	.s30Main .stationTwo .lowerLeft,
	.s15Main .stationOne .lowerLeft,
	.s15Main .stationTwo .lowerLeft,
	.s15Main .stationThree .lowerLeft,
	.s15Main .stationFour .lowerLeft,
	.s06Main .stationOne .lowerLeft,
	.s06Main .stationTwo .lowerLeft,
	.s06Main .stationThree .lowerLeft,
	.s06Main .stationFour .lowerLeft,
	.xiaoHMMain .stationOne .lowerLeft,
	.xiaoHMMain .stationTwo .lowerLeft,
	.xiaoHMMain .stationThree .lowerLeft,
	.xiaoHMMain .stationFour .lowerLeft,
	.xiaoHMMain .stationFive .lowerLeft{
		position: absolute;
		bottom:-25px;
		left:0;
		font-size: 15px;
	} 
	/*第三个*/
	.malaysiaDitch .stationThree{
		margin:62px 0 0 109px;
		position: relative;
	}
	.malaysiaDitch .stationThree .lowerRight,
	.malaysiaDitch .stationFour .lowerRight,
	.eighteenMain .stationThree .lowerRight,
	.eighteenMain .stationFour .lowerRight,
	.s07Main .stationOne .lowerRight,
	.s29Main .stationThree .lowerRight,
	.s29Main .stationFour .lowerRight,
	.s24Main .stationThree .lowerRight,
	.s24Main .stationFour .lowerRight,
	.S23Main .stationOne .lowerRight,
	.S23Main .stationThree .lowerRight,
	.S23Main .stationFour .lowerRight,
	.s18Main .stationFour .lowerRight,
	.s20Main .stationThree .lowerRight,
	.s20Main .stationFour .lowerRight,
	.s08Main .stationThree .lowerRight,
	.s31Main .stationFour .lowerRight,
	.s02Main .stationOne .lowerRight,
	.s02Main .stationThree .lowerRight{
		position: absolute;
		bottom:0;
		right:-55px;
		font-size: 15px;
	}
	/*第四个*/
	.malaysiaDitch .stationFour,
	.hanmaMain .stationFour,
	.citicMain .stationFour,
	.wangMain .stationFour{
		margin:62px 0 0 125px;
		position: relative;
	}
/*大马沟加油站 结束*/
/*单塔子加油站 开始*/
.singleTower{
	background:url(../images/gasStation/station_2.png) no-repeat;
}
	/*第一个*/
	.singleMain .stationOne,
	.hanmaMain .stationOne,
	.citicMain .stationOne,
	.cavernMain .stationOne,
	.wangMain .stationOne,
	.districtMain .stationOne,
	.yuanbaoMain .stationOne{
		margin:30px 0 0 110px;
		position: relative;
	}
	.singleMain .stationOne .upperRight,
	.singleMain .stationTwo .upperRight,
	.singleMain .stationThree .upperRight,
	.singleMain .stationFour .upperRight,
	.hanmaMain .stationOne .upperRight,
	.hanmaMain .stationFour .upperRight,
	.hanmaMain .stationThree .upperRight,
	.citicMain .stationOne .upperRight,
	.citicMain .stationTwo .upperRight,
	.citicMain .stationThree .upperRight,
	.citicMain .stationFour .upperRight,
	.cavernMain .stationOne .upperRight,
	.cavernMain .stationTwo .upperRight,
	.cavernMain .stationThree .upperRight,
	.cavernMain .stationFour .upperRight,
	.touMain .stationOne .upperRight,
	.touMain .stationTwo .upperRight,
	.touMain .stationThree .upperRight,
	.touMain .stationFour .upperRight,
	.wangMain .stationOne .upperRight,
	.wangMain .stationTwo .upperRight,
	.wangMain .stationThree .upperRight,
	.wangMain .stationFour .upperRight,
	.newRoadMain .stationTwo .upperRight,
	.districtMain .stationFour .upperRight,
	.yuanbaoMain .stationTwo .upperRight,
	.northPalaceMain .stationOne .upperRight{
		position: absolute;
		top:-25px;
		right:-5px;
	}
	.singleMain .stationOne .lowerLeft,
	.singleMain .stationTwo .lowerLeft,
	.hanmaMain .stationOne .lowerLeft,
	.citicMain .stationOne .lowerLeft,
	.citicMain .stationTwo .lowerLeft,
	.cavernMain .stationTwo .lowerLeft,
	.touMain .stationOne .lowerLeft,
	.touMain .stationTwo .lowerLeft,
	.wangMain .stationOne .lowerLeft,
	.wangMain .stationTwo .lowerLeft,
	.newRoadMain .stationTwo .lowerLeft,
	.yuanbaoMain .stationTwo .lowerLeft,
	.beiXiaoMain .stationTwo .lowerLeft,
	.s12Main .stationFive .lowerLeft,
	.s12Main .stationSix .lowerLeft,
	.s12Main .stationSeven .lowerLeft,
	.s29Main .stationThree .lowerLeft,
	.s24Main .stationThree .lowerLeft{
		position: absolute;
		bottom:-27px;
		left:0;
	}
	/*第二个*/
	.singleMain .stationTwo,
	.hanmaMain .stationTwo,
	.citicMain .stationTwo,
	.cavernMain .stationTwo,
	.wangMain .stationTwo,
	.yuanbaoMain .stationTwo{
		margin:30px 0 0 130px;
		position: relative;
	}
	.singleMain .stationTwo .upperLeft,
	.singleMain .stationFour .upperLeft,
	.citicMain .stationOne .upperLeft,
	.citicMain .stationTwo .upperLeft,
	.cavernMain .stationTwo .upperLeft,
	.wangMain .stationOne .upperLeft,
	.wangMain .stationTwo .upperLeft,
	.newRoadMain .stationTwo .upperLeft,
	.districtMain .stationOne .upperLeft,
	.districtMain .stationFour .upperLeft,
	.yuanbaoMain .stationTwo .upperLeft{
		position: absolute;
		top:-25px;
		left:0;
	}
	.singleMain .stationTwo .lowerRight,
	.citicMain .stationOne .lowerRight,
	.citicMain .stationTwo .lowerRight,
	.cavernMain .stationOne .lowerRight,
	.cavernMain .stationTwo .lowerRight,
	.wangMain .stationOne .lowerRight,
	.wangMain .stationTwo .lowerRight,
	.newRoadMain .stationTwo .lowerRight,
	.districtMain .stationOne .lowerRight,
	.yuanbaoMain .stationTwo .lowerRight,
	.s29Main .stationOne .lowerRight,
	.s24Main .stationOne .lowerRight,
	.s24Main .stationTwo .lowerRight,
	.s13Main .stationOne .lowerRight,
	.s13Main .stationTwo .lowerRight,
	.s02Main .stationFour .lowerRight{
		position: absolute;
		bottom:-25px;
		right:0;
	}
	/*第三个*/
	.singleMain .stationThree,
	.hanmaMain .stationThree,
	.citicMain .stationThree,
	.cavernMain .stationThree,
	.wangMain .stationThree,
	.yuanbaoMain .stationThree,
	.eighteenMain .stationThree{
		margin:80px 0 0 110px;
		position: relative;
	}
	.singleMain .stationThree .lowerLeft,
	.hanmaMain .stationThree .lowerLeft,
	.citicMain .stationThree .lowerLeft,
	.wangMain .stationThree .lowerLeft{
		position: absolute;
		bottom:-27px;
		left:30px;
	}
	/*第四个*/
	.singleMain .stationFour,
	.hanmaMain .stationFour,
	.cavernMain .stationFour,
	.yuanbaoMain .stationFour,
	.eighteenMain .stationFour{
		margin:80px 0 0 125px;
		position: relative;
	}
	.singleMain .stationFour .lowerLeft,
	.hanmaMain .stationFour .lowerLeft,
	.citicMain .stationFour .lowerLeft,
	.cavernMain .stationFour .lowerLeft,
	.wangMain .stationFour .lowerLeft,
	.districtMain .stationFour .lowerLeft,
	.eighteenMain .stationFour .lowerLeft,
	.northPalaceMain .stationFive .lowerLeft,
	.northPalaceMain .stationSix .lowerLeft,
	.beiXiaoMain .stationThree .lowerLeft,
	.S26Main .stationThree .lowerLeft,
	.S26Main .stationFour .lowerLeft,
	.s07Main .stationOne .lowerLeft,
	.s07Main .stationTwo .lowerLeft,
	.s07Main .stationThree .lowerLeft,
	.s07Main .stationFour .lowerLeft,
	.s29Main .stationFour .lowerLeft,
	.s20Main .stationFour .lowerLeft,
	.s31Main .stationFour .lowerLeft,
	.s02Main .stationOne .lowerLeft,
	.s02Main .stationTwo .lowerLeft,
	.s02Main .stationThree .lowerLeft{
		position: absolute;
		bottom:0;
		left:-52px;
		width:4rem;
		text-align: left;
	}
	.singleMain .stationFour .lowerRight,
	.hanmaMain .stationFour .lowerRight,
	.hanmaMain .stationThree .lowerRight,
	.citicMain .stationThree .lowerRight,
	.citicMain .stationFour .lowerRight,
	.cavernMain .stationThree .lowerRight,
	.cavernMain .stationFour .lowerRight,
	.wangMain .stationThree .lowerRight,
	.wangMain .stationFour .lowerRight,
	.districtMain .stationFour .lowerRight,
	.northPalaceMain .stationFive .lowerRight,
	.northPalaceMain .stationSix .lowerRight,
	.beiXiaoMain .stationTwo .lowerRight,
	.beiXiaoMain .stationThree .lowerRight,
	.S26Main .stationThree .lowerRight,
	.S26Main .stationFour .lowerRight,
	.s07Main .stationTwo .lowerRight,
	.s07Main .stationThree .lowerRight,
	.s07Main .stationFour .lowerRight,
	.s02Main .stationTwo .lowerRight{
		position: absolute;
		bottom:0;
		right:-35px;
	}
	.singleMain .stationFour .lowerRight{
		right: -55px;
	}
/*单塔子加油站 结束*/
/*韩麻营加油站 开始*/
.hanmaCamp{
	background:url(../images/gasStation/station_3.png) no-repeat;
}
.hanmaMain .stationFour .lowerRight, 
.hanmaMain .stationThree .lowerRight{
	right:-55px;
}
/*韩麻营加油站 结束*/
/*中信加油站 开始*/
.citic{
	background:url(../images/gasStation/station_4.png) no-repeat;
}
.citicMain .stationTwo{
	margin-left: 110px;
}
.citicMain .stationThree{
	margin-top: 85px;
}
.citicMain .stationThree .lowerLeft{
	left:0;
	bottom:-25px;
}
.citicMain .stationThree .lowerRight{
	right:-10px;
	bottom:-25px;
}
.citicMain .stationFour{
	margin:82px 0 0 108px;
}
.citicMain .stationFour .lowerLeft{
	left:0;
	bottom:-25px;
}
.citicMain .stationFour .lowerRight{
	right:-10px;
	bottom:-25px;
}
/*中信加油站 结束*/
/*石洞沟加油站 开始*/
.stoneCavern{
	background:url(../images/gasStation/station_5.png) no-repeat;
}
.cavernMain .stationTwo{
	margin:33px 0 0 120px;
}
.cavernMain .stationTwo .lowerRight{
	right:-10px;
}
.cavernMain .stationThree .lowerRight{
	bottom:-22px;
	right:0;
}
.cavernMain .stationFour .lowerLeft{
	bottom:-22px;
	left:0;
}
.cavernMain .stationFour .lowerRight{
	bottom:-22px;
	right: -10px;
}
/*石洞沟加油站 结束*/
/*头道沟加油站 开始*/
.toudaogou{
	background:url(../images/gasStation/station_6.png) no-repeat;
}
.toudaogou .touMain{
	width: 542px;
	height: 522px;
	font-size:16px;
	margin:108px 0 0 201px;
}
.touMain .stationOne{
	width: 114px;
	height: 142px;
	float: left;
	margin:115px 0 0 130px;
	position: relative;
}
.touMain .stationTwo{
	width: 114px;
	height: 142px;
	float: left;
	margin:35px 0 0 115px;
	position: relative;
}
.touMain .stationThree{
	width: 114px;
	height: 142px;
	float: left;
	margin:-65px 0 0 130px;
	position: relative;
}
.touMain .stationFour{
	width: 114px;
	height: 142px;
	float: left;
	margin:62px 0 0 112px;
	position: relative;
}
.touMain .stationThree .lowerLeft,
.touMain .stationFour .lowerLeft{
	position: absolute;
	bottom:-30px;
	left:0;
}



/*头道沟加油站 结束*/
/*王家沟加油站 开始*/
.wangjiagou{
	background:url(../images/gasStation/station_7.png) no-repeat;
}
.wangMain .stationTwo{
	margin-left: 120px;
}
.wangMain .stationFour{
	margin:80px 0 0 120px;
}
 .wangMain .stationOne .upperRight, 
 .wangMain .stationTwo .upperRight, 
 .wangMain .stationThree .upperRight, 
 .wangMain .stationFour .upperRight,
 .wangMain .stationOne .lowerRight, 
 .wangMain .stationTwo .lowerRight{
 	right:-10px;
 }
  .wangMain .stationThree .lowerLeft,
  .wangMain .stationFour .lowerLeft{
  	left:0;
  	bottom:-23px;
  }
  .wangMain .stationThree .lowerRight,
  .wangMain .stationFour .lowerRight{
  	right: -10px;
  	bottom: -23px;
  }
/*王家沟加油站 结束*/
/*新建路加油站 开始*/
.newRoad{
	background:url(../images/gasStation/station_8.png) no-repeat;
}
.newRoad .newRoadMain{
	width:206px;
	height: 553px;
	margin:74px 0 0 384px;
	font-size: 16px;
}
.newRoadMain .stationOne{
	margin:38px 0 0 40px;
	position: relative;
}
.newRoadMain .stationTwo{
	margin:30px 0 0 38px;
	position: relative;
}
.newRoadMain .stationThree{
	margin:40px 0 0 40px;
	position: relative;
}
.newRoadMain .stationThree .upperLeft{
	position: absolute;
	top:-10px;
	left: -55px;
	width:3.6rem;
	text-align: right;
}
.newRoadMain .stationThree .upperRight{
	position: absolute;
	top:-10px;
	right: -55px;
	width:3.6rem;
	text-align: left;
}
.newRoadMain .stationThree .lowerLeft{
	position: absolute;
	bottom:0;
	left: -55px;
	width:3.6rem;
	text-align: right;
}
.newRoadMain .stationThree .lowerRight{
	position: absolute;
	bottom:0;
	right: -55px;
	width:3.6rem;
	text-align: left;
}
.newRoadMain .stationTwo .lowerRight{
	right: -10px;
}



/*新建路加油站 结束*/
/*新区加油站 开始*/
.district{
	background:url(../images/gasStation/station_9.png) no-repeat;
}
.districtMain .stationThree{
	margin:55px 0 0 113px;
	position: relative;
}
.districtMain .stationFour{
	margin:58px 0 0 123px;
	position: relative;
}
.districtMain .stationFour .lowerLeft{
	left:0;
	bottom: -22px;
}
.districtMain .stationFour .lowerRight{
	right: -10px;
	bottom: -22px;
}
/*新区加油站 结束*/
/*元宝山加油站 开始*/
.yuanbao{
	background:url(../images/gasStation/station_10.png) no-repeat;
}
.yuanbaoMain .stationThree .upperLeft,
.yuanbaoMain .stationFour .upperLeft{
	position: absolute;
	top:26px;
	left:0;
}
.yuanbaoMain .stationThree .upperRight,
.yuanbaoMain .stationFour .upperRight{
	position: absolute;
	top:26px;
	right:0;
}
.yuanbaoMain .stationTwo{
	margin-left: 125px;
}
.yuanbaoMain .stationThree,
.yuanbaoMain .stationFour{
	margin-top: 75px;
}
/*元宝山加油站 结束*/
/*十八里店加油站 开始*/
.eighteenLi{
	background:url(../images/gasStation/station_11.png) no-repeat;
}
.eighteenMain .stationOne .lowerRight,
.eighteenMain .stationOne .lowerLeft,
.eighteenMain .stationTwo .lowerRight,
.eighteenMain .stationTwo .lowerLeft{
	bottom:-30px;
}
.eighteenMain .stationTwo{
	margin:30px 0 10px 125px;
	position: relative;
}
.eighteenMain .stationFour{
	margin:70px 0 0 128px;
}
/*后期修改样式*/
.eighteenMain .stationThree .lowerRight,
.eighteenMain .stationFour .lowerRight{
	bottom:-25px !important;
	right:-8px !important;
}
.eighteenMain .stationFour .lowerLeft{
	bottom: -25px !important;
    left: 0 !important;
}
.eighteenMain .stationFour .lowerRight{

}
.eighteenMain .stationThree{
	margin-top: 70px;
}
/*十八里店加油站 结束*/
/*北宫门加油站 开始*/
.northPalace{
	background:url(../images/gasStation/station_12.png) no-repeat;
}
.northPalace .northPalaceMain{
	width: 666px;
	height: 495px;
	font-size: 16px;
	margin:180px 0 0 290px;
}
.northPalaceMain .stationOne{
	margin:40px 0 0 37px;
	position: relative;
}
.northPalaceMain .stationTwo{
	position: relative;
	margin:40px 0 0 120px;
}
.northPalaceMain .stationThree{
	position: relative;
	margin:42px 0 0 120px;
}
.northPalaceMain .stationFour{
	position: relative;
	margin:75px 0 0 36px;
}
.northPalaceMain .stationFive{
	position: relative;
	margin:76px 0 0 122px;
}
.northPalaceMain .stationSix{
	position: relative;
	margin:76px 0 0 116px;
}
/*后期新修改*/
.northPalaceMain .stationFive .lowerLeft,
.northPalaceMain .stationSix .lowerLeft{
	bottom: -25px !important;
    left: -5px !important;
}
.northPalaceMain .stationFive .lowerRight,
.northPalaceMain .stationSix .lowerRight{
	bottom: -25px !important;
    right: -8px !important;
}
/*北宫门加油站 结束*/
/*北小营加油站 开始*/
.beiXiao{
	background:url(../images/gasStation/station_13.png) no-repeat;
}
.beiXiaoMain .stationOne{
	position: relative;
	float: right;
	margin:30px 58px 0 0;
}
.beiXiaoMain .stationTwo{
	position: relative;
	margin:250px 0 0 110px;
}
.beiXiaoMain .stationThree{
	position: relative;
	margin:80px 0 0 123px;
}
/*后期修改*/
.beiXiaoMain .stationTwo .lowerRight,
.beiXiaoMain .stationThree .lowerRight{
	bottom:-25px;
	right: -8px;
}
.beiXiaoMain .stationThree .lowerLeft{
	bottom: -27px;
    left: 0;
}
/*北小营加油站 结束*/
/*s26车站路加油站 开始*/
.S26{
	background:url(../images/gasStation/station_14.png) no-repeat;
}
.S26 .S26Main{
	margin:130px 0 0 250px;
}
.S26Main .stationOne{
	position: relative;
	margin:6px 0 0 96px;
}
.S26Main .stationTwo{
	position: relative;
	margin:6px 0 30px 105px;
}
.S26Main .stationThree{
	position: relative;
	margin:60px 0 0 96px;
}
.S26Main .stationFour{
	position: relative;
	margin:61px 0 0 105px;
}
/*后期修改*/
.S26Main .stationThree .lowerLeft,
.S26Main .stationFour .lowerLeft{
	bottom: -22px;
    left: 0;
}
.S26Main .stationThree .lowerRight,
.S26Main .stationFour .lowerRight{
 	bottom: -22px;
    right: -8px;
 }
/*s26车站路加油站 结束*/
/*S07大郊亭加油站 开始*/
.S07{
	background:url(../images/gasStation/station_15.png) no-repeat;
}
.S07 .s07Main{
	width: 440px;
	height: 535px;
	font-size: 16px;
	margin:180px 0 0 250px;
}
.s07Main .stationOne{
	position: relative;
	margin:22px 0 0 80px;
}
.s07Main .stationOne .lowerLeft,
.s07Main .stationThree .lowerLeft{
	left:-30px;
}
.s07Main .stationTwo{
	position: relative;
	margin:24px 0 0 120px;
}
.s07Main .stationThree{
	position: relative;
	margin:24px 0 0 78px;
}
.s07Main .stationFour{
	position: relative;
	margin:26px 0 0 125px;
}
.s07Main .stationFive{
	position: relative;
	margin:26px 0 0 77px;
}
.s07Main .stationFive .middleLeft,
.s07Main .stationSix .middleLeft,
.s18Main .stationFour .middleLeft{
	position: absolute;
	top:65px;
	left:-30px;
}
.s07Main .stationFive .middleRight,
.s07Main .stationSix .middleRight,
.s18Main .stationFour .middleRight{
	position: absolute;
	top:65px;
	right:-30px;
}
.s07Main .stationSix{
	position: relative;
	margin:26px 0 0 130px;
}
/*后期修改*/
.s07Main .stationOne .lowerLeft,
.s07Main .stationThree .lowerLeft{
	left:-60px;
	text-align: right;
}
.s07Main .stationTwo .lowerLeft{
	text-align: right;
}
.s07Main .stationOne .lowerRight,
.s07Main .stationTwo .lowerRight,
.s07Main .stationThree .lowerRight{
	text-align: left;
	width:3.6rem;
	display: inline-block;
}
.s07Main .stationTwo .lowerRight,
.s07Main .stationFour .lowerRight{
	right:-68px;
}
.s07Main .stationThree .lowerRight{
	right:-58px;
}

/*S07大郊亭加油站 结束*/
/*S12东辛店加油站 开始*/
.S12{
	background:url(../images/gasStation/station_16.png) no-repeat;
}
.S12 .s12Main{
	font-size: 16px;
	width: 700px;
	height: 367px;
	margin:280px 0 0 200px;
}
.s12Main .stationOne,
.s12Main .stationTwo,
.s12Main .stationThree,
.s12Main .stationFour{
	position: relative;
	margin:40px 0 0 28px;
}
.s12Main .stationFive,
.s12Main .stationSix,
.s12Main .stationSeven,
.s12Main .stationEight{
	position: relative;
	margin:23px 0 0 26px;
}
.s12Main .stationFive .upperRight,
.s12Main .stationSix .upperRight,
.s12Main .stationSeven .upperRight,
.s12Main .stationEight .upperRight{
	position: absolute;
	top:47px;
	right: -5px;
}
/*后期修改*/
.s12Main .stationOne{
	margin:40px 0 0 70px;
}
.s12Main .stationFive{
	margin:23px 0 0 70px;
}
/*S12东辛店加油站 结束*/
/*S17房易路加油站 开始*/
.S17{
	background:url(../images/gasStation/station_17.png) no-repeat;
}
.S17 .s17Main{
	width: 600px;
	height: 186px;
	font-size: 16px;
	margin:360px 0 0 320px;
}
.s17Main .stationOne{
	position: relative;
	margin:10px 0 0 28px;
}
.s17Main .stationTwo{
	position: relative;
	margin:7px 0 0 100px;
}
.s17Main .stationThree{
	position: relative;
	margin:9px 0 0 95px;
}
/*S17房易路加油站 结束*/
/*S29管庄加油站 开始*/
.S29{
	background:url(../images/gasStation/station_18.png) no-repeat;
}
.s29Main .stationOne{
	position: relative;
	margin:35px 0 0 110px;
}
.s29Main .stationTwo{
	position: relative;
	margin:38px 0 0 130px;
}
.s29Main .stationThree{
	position: relative;
	margin:70px 0 0 110px;
}
.s29Main .stationFour{
	position: relative;
	margin:70px 0 0 130px;
}
/*修改样式*/
.s29Main .stationThree .lowerRight,
.s29Main .stationFour .lowerRight{
	right:-5px;
	bottom: -27px;
}
.s29Main .stationFour .lowerLeft{
	left:0;
	bottom:-27px;
}
/*S29管庄加油站 结束*/
/*S24后苑加油站 开始*/
.S24{
	background:url(../images/gasStation/station_19.png) no-repeat;
}
.s24Main .stationOne{
	position: relative;
	margin:32px 0 0 115px;
}
.s24Main .stationTwo{
	position: relative;
	margin:33px 0 0 125px;
}
.s24Main .stationThree{
	position: relative;
	margin:75px 0 0 113px;
}
.s24Main .stationFour{
	position: relative;
	margin:75px 0 0 125px;
}
/*S24后苑加油站 结束*/
/*S23槐房路加油站 开始*/
.S23{
	background:url(../images/gasStation/station_20.png) no-repeat;
}
.S23Main .stationOne{
	position: relative;
	margin:30px 0 0 113px;
}
.S23Main .stationTwo{
	position: relative;
	margin:30px 0 0 125px;
}
.S23Main .stationThree{
	position: relative;
	margin:78px 0 0 113px;
}
.S23Main .stationFour{
	position: relative;
	margin:78px 0 0 125px;
}
/*修改样式*/
.S23Main .stationThree .lowerRight,
.S23Main .stationFour .lowerRight{
	right:-8px;
	bottom:-27px;
}
/*S23槐房路加油站 结束*/
/*S13漷县加油站 开始*/
.S13{
	background:url(../images/gasStation/station_21.png) no-repeat;
}
.S13 .s13Main{
	width: 550px;
	height: 435px;
	font-size: 16px;
	margin:190px 0 0 280px;
}
.s13Main .stationOne{
	position: relative;
	margin:32px 0 0 130px;
}
.s13Main .stationTwo{
	position: relative;
	margin:32px 0 0 130px;
}
.s13Main .stationThree{
	position: relative;
	margin:75px 0 0 136px;
}
/*S13漷县加油站 结束*/
/*S18京密路加油站 开始*/
.S18{
	background:url(../images/gasStation/station_22.png) no-repeat;
}
.s18Main .stationTwo{
	position: relative;
	float: right;
	margin:90px 148px 0 0;
}
.s18Main .stationThree{
	position: relative;
	margin:278px 0 0 100px;
}
.s18Main .stationFour{
	position: relative;
	margin:48px 0 0 125px;
}
/*修改后样式*/
.S18 .s18Main{
	width:600px;
	height:500px; 
}
/*S18京密路加油站 结束*/
/*S20临河里加油站 开始*/
.S20{
	background:url(../images/gasStation/station_23.png) no-repeat;
}
.s20Main .stationOne,
.s20Main .stationTwo,
.s20Main .stationThree,
.s20Main .stationFour,
.s28Main .stationOne,
.s28Main .stationTwo,
.s28Main .stationThree,
.s28Main .stationFour{
	width: 98px;
	height: 123px;
	float: left;
	position: relative;
}
.s20Main .stationOne{
	margin: 3px 0 0 60px;
}
.s20Main .stationTwo{
	margin:5px 100px 0 115px;
}
.s20Main .stationThree{
	margin:65px 0 0 60px;
}
.s20Main .stationFour{
	margin:66px 0 0 118px;
}
/*修改样式*/
.s20Main .stationOne .upperRight,
.s20Main .stationOne .lowerRight,
.s20Main .stationTwo .upperRight,
.s20Main .stationTwo .lowerRight,
.s20Main .stationThree .upperRight,
.s20Main .stationFour .upperRight{
	right:-20px;
}
.s20Main .stationThree .lowerRight,
.s20Main .stationFour .lowerRight{
	right: -20px;
	bottom: -25px;
}
.s20Main .stationFour .lowerLeft{
	left:0;
	bottom:-25px;
}
/*S20临河里加油站 结束*/
/*S28青龙桥加油站 开始*/
.S28{
	background:url(../images/gasStation/station_24.png) no-repeat;
}
.S28 .s28Main{
	width: 626px;
	height: 170px;
	font-size: 16px;
	margin:300px 0 0 238px;
}
.s28Main .stationOne{
	margin:22px 0 0 28px;
}
.s28Main .stationTwo{
	margin:20px 0 0 65px;
}
.s28Main .stationThree{
	margin:22px 0 0 63px;
}
.s28Main .stationFour{
	margin:21px 0 0 64px;
}
/*修改样式*/
.s28Main .stationOne .upperRight,
.s28Main .stationTwo .upperRight,
.s28Main .stationThree .upperRight,
.s28Main .stationFour .upperRight{
	right: -20px;
}
.s28Main .stationOne .lowerRight,
.s28Main .stationTwo .lowerRight,
.s28Main .stationThree .lowerRight,
.s28Main .stationFour .lowerRight{
right: -20px;
}
/*S28青龙桥加油站 结束*/
/*S22青云店加油站 开始*/
.S22{
	background:url(../images/gasStation/station_25.png) no-repeat;
}
.s22Main .stationOne{
	position: relative;
	margin:62px 200px 0 103px;
}
.s22Main .stationTwo{
	position: relative;
	margin:30px 0 0 105px;
}
.s22Main .stationTwo .upperLeft,
.s22Main .stationTwo .upperRight{
	margin-top: 10px;
}
.s22Main .stationThree{
	position: relative;
	margin:30px 0 0 110px;
}
/*修改后样式*/
.s22Main .stationOne, 
.s22Main .stationTwo, 
.s22Main .stationThree{
	width: 98px;
	height: 123px;
}
.s22Main .stationOne .upperRight,
.s22Main .stationOne .lowerRight,
.s22Main .stationTwo .lowerRight,
.s22Main .stationThree .upperRight,
.s22Main .stationThree .lowerRight{
	right: -20px;
}
.s22Main .stationTwo .upperLeft{
	width: 3.6rem;
	left:-45px;
	top:0;
	margin:0;
	text-align: right;
}
.s22Main .stationTwo .upperRight{
	width:3.6rem;
	text-align: left;
	right:-55px;
	top:-2px;
	margin:0;
}
/*S22青云店加油站 结束*/
/*S21饶乐府加油站 开始*/
.S21{
	background:url(../images/gasStation/station_26.png) no-repeat;
}
.s21Main .stationOne{
	position: relative;
	margin:26px 0 0 112px;
}
.s21Main .stationTwo{
	position: relative;
	margin:25px 0 20px 110px;
}
.s21Main .stationThree{
	position: relative;
	margin:48px 0 0 112px;
	float: left;
}
.s21Main .stationFour{
	position: relative;
	margin:48px 0 0 114px;
}
/*修改后样式*/
.s21Main .stationOne,
.s21Main .stationTwo,
.s21Main .stationThree,
.s21Main .stationFour{
	width: 98px;
	height: 123px;
}
.s21Main .stationOne .upperRight,
 .s21Main .stationOne .lowerRight,
 .s21Main .stationTwo .upperRight,
 .s21Main .stationTwo .lowerRight,
 .s21Main .stationThree .upperRight,
 .s21Main .stationThree .lowerRight,
 .s21Main .stationFour .upperRight,
 .s21Main .stationFour .lowerRight{
	width: 3.6rem;
	text-align:right;
	right:-20px;
}


/*S21饶乐府加油站 结束*/
/*S16十三里店加油站 开始*/
.S16{
	background:url(../images/gasStation/station_27.png) no-repeat;
}
.s16Main .stationOne{
	position: relative;
	margin:25px 200px 0 105px;
}
.s16Main .stationTwo{
	position: relative;
	margin:65px 0 0 108px;
}
.s16Main .stationThree{
	position: relative;
	margin:65px 0 0 110px;
}
/*修改后样式*/
.s16Main .stationOne,
.s16Main .stationTwo,
.s16Main .stationThree{
	width: 98px;
	height: 123px;
}
.s16Main .stationOne .lowerRight,
.s16Main .stationTwo .upperRight,
.s16Main .stationThree .upperRight,
.s16Main .stationTwo .lowerRight,
.s16Main .stationThree .lowerRight{
	width: 3.6rem;
	text-align:right;
	right:-20px;
}
/*S16十三里店加油站 结束*/
/*S08西红门店加油站 开始*/
.S08{
	background:url(../images/gasStation/station_28.png) no-repeat;
}
.s08Main .stationOne{
	position: relative;
	margin:22px 0 0 108px;
}
.s08Main .stationTwo{
	position: relative;
	margin:25px 0 0 115px;
}
.s08Main .stationTwo .middleLeft,
.s08Main .stationFour .middleLeft,
.s15Main .stationOne .middleLeft,
.xiaoHMMain .stationTwo .middleLeft{
	position: absolute;
	left:-20px;
	top:30px;
}
.s08Main .stationTwo .middleRight,
.s08Main .stationFour .middleRight,
.s15Main .stationOne .middleRight,
.xiaoHMMain .stationTwo .middleRight{
	position: absolute;
	right: -40px;
	top:30px;
}
.s08Main .stationThree{
	position: relative;
	margin:68px 0 0 110px;
}
.s08Main .stationFour{
	position: relative;
	margin:68px 0 0 115px;
}
/*修改后样式*/
.s08Main .stationOne,
.s08Main .stationTwo,
.s08Main .stationThree,
.s08Main .stationFour{
	width: 98px;
	height: 123px;
}
.s08Main .stationFour .upperRight,
.s08Main .stationThree .upperRight,
.s08Main .stationTwo .upperRight,
.s08Main .stationOne .upperRight,
.s08Main .stationOne .lowerRight,
.s08Main .stationTwo .lowerRight,
.s08Main .stationFour .lowerRight{
	width: 3.6rem;
	text-align:right;
	right:-20px;
}
.s08Main .stationTwo .middleLeft,
.s08Main .stationTwo .middleRight,
.s08Main .stationFour .middleLeft,
.s08Main .stationFour .middleRight{
	top:45px;
}
.s08Main .stationThree .lowerRight{
	bottom:-25px;
	right: -15px;
}
/*S08西红门店加油站 结束*/
/*S31溪翁庄加油站 开始*/
.S31{
	background:url(../images/gasStation/station_29.png) no-repeat;
}
.s31Main .stationOne{
	position: relative;
	margin:28px 0 0 110px;
}
.s31Main .stationTwo{
	position: relative;
	margin:30px 0 62px 118px;
}
.s31Main .stationThree{
	position: relative;
	margin:0 0 0 110px;
}
.s31Main .stationFour{
	position: relative;
	margin:0 0 0 118px;
}
/*修改后样式*/
.s31Main .stationOne,
.s31Main .stationTwo,
.s31Main .stationThree,
.s31Main .stationFour{
	width: 98px;
	height: 123px;
}
.s31Main .stationThree .upperRight,
.s31Main .stationTwo .upperRight,
.s31Main .stationThree .lowerRight{
	width: 3.6rem;
	text-align:right;
	right:-20px;
}
.s31Main .stationFour .lowerLeft{
	bottom: -25px;
	left:0;
}
.s31Main .stationFour .lowerRight{
	bottom:-25px;
	right:-20px;
}
/*S31溪翁庄加油站 结束*/
/*S02小宫加油站 开始*/
.S02{
	background:url(../images/gasStation/station_30.png) no-repeat;
}
.S02 .s02Main{
	width: 682px;
	height: 633px;
	float: left;
	margin:107px 0 0 346px;
}
.s02Main .stationOne{
	position: relative;
	margin:25px 400px 0 75px;
}
.s02Main .stationTwo{
	position: relative;
	margin:5px 400px 0 75px;
}
.s02Main .stationTwo .upperLeft,
.s02Main .stationThree .upperLeft{
	position: absolute;
	top:0;
	left:-30px;
}
.s02Main .stationTwo .upperRight,
.s02Main .stationThree .upperRight{
	position: absolute;
	top:0;
	right: -55px;
	width: 3.6rem;
	text-align: left;
}
.s02Main .stationThree{
	position: relative;
	margin:5px 400px 0 75px;
}
.s02Main .stationFour{
	width: 142px;
	height: 97px;
	float: left;
	position: relative;
	margin:44px 0 0 300px;
}
.s02Main .stationFive{
	width: 161px;
	height: 96px;
	float: left;
	position: relative;
	margin:45px 0 0 20px;
}
/*修改后样式*/
.s02Main .stationOne,
.s02Main .stationTwo,
.s02Main .stationThree{
	width: 98px;
	height: 123px;
}
.s02Main .stationFour,
.s02Main .stationFive{
	width: 125px;
	height: 98px;
}
.s02Main .stationOne .upperRight
{
	width: 3.6rem;
	text-align:right;
	right:-20px;
}
.s02Main .stationOne .lowerRight{
	width: 3.6rem;
	text-align:left;
}
.s02Main .stationOne .lowerLeft,
.s02Main .stationTwo .lowerLeft{
	left:-40px;
}
.s02Main .stationTwo .lowerRight{
	right:-55px;
	width:3.6rem;
	text-align: left;
}
/*S02小宫加油站 结束*/
/*S30闫东路店加油站 开始*/
.S30{
	background:url(../images/gasStation/station_31.png) no-repeat;
}
.S30 .s30Main{
	width: 416px;
	height: 188px;
	float: left;
	font-size: 16px;
	margin:409px 0 0 300px;
}
.s30Main .stationOne{
	position: relative;
	margin:25px 0 0 30px;
}
.s30Main .stationTwo{
	position: relative;
	margin:23px 0 0 112px;
}
/*修改后样式*/
.s30Main .stationOne,
.s30Main .stationTwo{
	width: 98px;
	height: 123px;
}
.s30Main .stationOne .upperRight, 
.s30Main .stationTwo .upperRight{
	right: -20px;
}
.s30Main .stationOne .lowerRight, 
.s30Main .stationTwo .lowerRight{
	right:-20px;
}

/*S30闫东路店加油站 结束*/
/*S15杨镇加油站 开始*/
.S15{
	background:url(../images/gasStation/station_32.png) no-repeat;
}
.s15Main .stationOne{
	position: relative;
	margin:37px 0 0 108px;
}
.s15Main .stationTwo{
	position: relative;
	margin:33px 0 10px 120px;
}
.s15Main .stationThree{
	position: relative;
	margin:60px 0 0 106px;
}
.s15Main .stationFour{
	position: relative;
	margin:58px 0 0 120px;
}
/*修改后样式*/
.s15Main .stationOne,
.s15Main .stationTwo,
.s15Main .stationThree,
.s15Main .stationFour{
	width: 98px;
	height: 123px;
}
.s15Main .stationOne .upperRight, 
.s15Main .stationTwo .upperRight,
.s15Main .stationOne .lowerRight, 
.s15Main .stationThree .lowerRight,
.s15Main .stationThree .upperRight, 
.s15Main .stationFour .upperRight{
	right: -20px;
}
.s15Main .stationOne .middleLeft,
.s15Main .stationOne .middleRight{
	top:42px;
}
/*S15杨镇加油站 结束*/
/*S06圆西路加油站 开始*/
.S06{
	background:url(../images/gasStation/station_33.png) no-repeat;
}
.s06Main .stationOne{
	position: relative;
	margin:28px 0 0 108px;
}
.s06Main .stationOne .middleLeft,
.s06Main .stationTwo .middleLeft,
.s06Main .stationThree .middleLeft,
.s06Main .stationFour .middleLeft{
	position: absolute;
	top:55px;
}
.s06Main .stationOne .middleRight,
.s06Main .stationTwo .middleRight,
.s06Main .stationThree .middleRight,
.s06Main .stationFour .middleRight{
	position: absolute;
	top:40px;
	right: -33px;
}
.s06Main .stationTwo{
	position: relative;
	margin:25px 0 10px 110px;
}
.s06Main .stationThree{
	position: relative;
	margin:62px 0 0 108px;
}
.s06Main .stationFour{
	position: relative;
	margin:60px 0 0 110px;
}
/*修改后的样式*/
.s06Main .stationOne,
.s06Main .stationTwo,
.s06Main .stationThree,
.s06Main .stationFour{
	width: 98px;
	height: 123px;
}
.s06Main .stationOne .upperRight, 
.s06Main .stationTwo .upperRight, 
.s06Main .stationThree .upperRight, 
.s06Main .stationFour .upperRight,
.s06Main .stationOne .lowerRight, 
.s06Main .stationTwo .lowerRight, 
.s06Main .stationThree .lowerRight, 
.s06Main .stationFour .lowerRight, 
.xiaoHMMain .stationOne .lowerRight{
	right:-20px;
}
/*S06圆西路加油站 结束*/
/*小红门加油站 开始*/
.xiaoHM{
	background:url(../images/gasStation/station_34.png) no-repeat;
}
.xiaoHM .xiaoHMMain{
	width: 411px;
	height: 573px;
	font-size: 16px;
	margin:138px 0 0 311px;
}
.xiaoHMMain .stationOne{
	position: relative;
	margin:25px 300px 0 20px;
}
.xiaoHMMain .stationTwo{
	position: relative;
	margin:48px 0 0 20px;
}
.xiaoHMMain .stationThree{
	position: relative;
	margin:48px 0 55px 115px;
}
.xiaoHMMain .stationFour{
	position: relative;
	margin:-22px 0 0 20px;
}
.xiaoHMMain .stationFive{
	position: relative;
	margin:-20px 0 0 115px;
}
/*修改后样式*/
.xiaoHMMain .stationOne,
.xiaoHMMain .stationTwo,
.xiaoHMMain .stationThree,
.xiaoHMMain .stationFour,
.xiaoHMMain .stationFive{
	width: 98px;
	height: 123px;
}
 .xiaoHMMain .stationTwo .upperRight, 
 .xiaoHMMain .stationThree .upperRight, 
 .xiaoHMMain .stationFour .upperRight, 
 .xiaoHMMain .stationFive .upperRight,
 .xiaoHMMain .stationTwo .lowerRight, 
 .xiaoHMMain .stationFour .lowerRight, 
 .xiaoHMMain .stationFive .lowerRight{
 	right:-20px;
 }
.xiaoHMMain .stationTwo .middleLeft,
.xiaoHMMain .stationTwo .middleRight{
	top:40px;
}
.xiaoHMMain .stationFour .upperLeft, 
.xiaoHMMain .stationFive .upperLeft{
	top:0;
	left:-55px;
	width:3.6rem;
	text-align: right;
}
.xiaoHMMain .stationFour .upperRight, 
.xiaoHMMain .stationFive .upperRight{
	top:0;
	right:-55px;
	width:3.6rem;
	text-align: left;
}

/*小红门加油站 结束*/


