@charset "UTF-8";

/**
* 通用样式文件
*@file:common.css;
*@create author:gj;
*@create time 2017/11/6
**/
a.export{
  width:90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-right: 35px;
  font-size: 14px;
  color:#fff;
  background:#dd1d21;
  margin-top: 10px;
}

html,body{width:100%;height:100%}
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del, ins {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

em, cite {
  font-style: normal;
}
input, button, textarea, select, optgroup, option {
  outline: none;
}

input, button, textarea, select {
  *font-size: 100%;
  font-family:"Microsoft YaHei";
}

img {
  vertical-align: top;
  border: 0;
}

html, body {
  font: normal 14px/24px "Microsoft YaHei" !important;/*"cochinArchaic",*/
  background-color: #fff;
}
a {
  color:$color-grey-four;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/*截止日期*/
.contentRight{
  position: relative;
}
.contentRight .timeEndIng{
  position: absolute;
  right: 5px;
  top:5px;
  font-size: 14px;
}
