body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:200px;
  width:450px;
  height:500px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:360px;
  width:300px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:6px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:390px;
  width:300px;
  height:3px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:430px;
  width:300px;
  height:30px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:6px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:460px;
  width:300px;
  height:3px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:271px;
  width:30px;
  height:28px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:250px;
  width:155px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:155px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:500px;
  width:149px;
  height:30px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background-color:#F7F7F7;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:152px;
  height:6px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:530px;
  width:149px;
  height:3px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:497px;
  width:130px;
  height:37px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(251, 206, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:590px;
  width:300px;
  height:50px;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
