<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.AdminDao">
	<select id="queryByName" resultType="Admin" parameterType="String">
		select id,name,password,salt from user where name=#{name}
	</select>
	<select id="queryById" resultType="Admin" parameterType="String">
		select id,name,password,salt from user where id=#{id}
	</select>
	<select id="insert" parameterType="Admin">
		insert into user(id,name,password,salt) values(#{id},#{name},#{password},#{salt})
	</select>
	<select id="queryAll" resultType="Admin">
		select id,name,password,salt from user order by id asc limit #{start},#{rows}
	</select>
	<select id="queryTotal" resultType="Integer">
		select count(id) from user
	</select>
	<delete id="delete" parameterType="String">
		delete from user where id=#{id}
	</delete>
	<update id="update">
		update user set password=#{password} where name=#{name}
	</update>
	<delete id="deleteFromURByUserId" parameterType="String">
		delete from user_role where uid=#{id}
	</delete>
	<insert id="insertUserRole">
		insert into user_role(uid,rid) values(#{uid},#{rid})
	</insert>
</mapper>
