<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CouponDao">
	<select id="query" resultType="Coupon">
		select 
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if>
		days
		,sum(allMoney) allMoney,SUM(usedMoney) usedMoney from res_vipCoupon
		
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		
		group by 1
		order by days asc
	</select>
	<select id="queryByType" resultType="Couponb">
		select 
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if>
		days
		,sum(oil_score_allmoney) oil_score_allmoney,SUM(oil_reissued_allmoney) oil_reissued_allmoney,
		sum(oil_order_allmoney) oil_order_allmoney,sum(oil_order_allnum) oil_order_allnum,
		sum(oil_hfive_allmoney) oil_hfive_allmoney,sum(oil_score_usedmoney) oil_score_usedmoney,
		sum(oil_reissued_usedmoney) oil_reissued_usedmoney,sum(oil_order_usedmoney) oil_order_usedmoney,
		sum(oil_order_usednum) oil_order_usednum,sum(oil_hfive_usedmoney) oil_hfive_usedmoney,
		sum(notoil_score_allmoney) notoil_score_allmoney,sum(notoil_reissued_allmoney) notoil_reissued_allmoney,
		sum(notoil_order_allmoney) notoil_order_allmoney,sum(notoil_hfive_allmoney) notoil_hfive_allmoney,
		sum(notoil_score_usedmoney) notoil_score_usedmoney,sum(notoil_reissued_usedmoney) notoil_reissued_usedmoney,
		sum(notoil_order_usedmoney) notoil_order_usedmoney,sum(notoil_hfive_usedmoney) notoil_hfive_usedmoney
		from res_vipcouponbb
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		group by 1
		order by days asc
	</select>
	<select id="queryZhanbi" resultType="DataPack">
		select couponStatus name,couponMoney value from res_vipCouponRate
	</select>
	<select id="queryByStation" resultType="Couponb">
		select 
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if>
		days,sum(oil_score_usedmoney) oil_score_usedmoney,
		sum(oil_reissued_usedmoney) oil_reissued_usedmoney,sum(oil_order_usedmoney) oil_order_usedmoney,
		sum(oil_order_usednum) oil_order_usednum,sum(oil_hfive_usedmoney) oil_hfive_usedmoney,
		sum(notoil_score_usedmoney) notoil_score_usedmoney,sum(notoil_reissued_usedmoney) notoil_reissued_usedmoney,
		sum(notoil_order_usedmoney) notoil_order_usedmoney,sum(notoil_hfive_usedmoney) notoil_hfive_usedmoney
		from res_vipcoupon_station
		<where>
			days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
			<if test="station!=null">
			and station_id in
				<foreach collection="station" item="item" index="index" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		</where>
		group by 1
		order by 1 asc
	</select>
	<select id="exportByStation" resultType="Couponb">
		select 
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if>
		days,station_id stationID,sum(oil_score_usedmoney) oil_score_usedmoney,
		sum(oil_reissued_usedmoney) oil_reissued_usedmoney,sum(oil_order_usedmoney) oil_order_usedmoney,
		sum(oil_order_usednum) oil_order_usednum,sum(oil_hfive_usedmoney) oil_hfive_usedmoney,
		sum(notoil_score_usedmoney) notoil_score_usedmoney,sum(notoil_reissued_usedmoney) notoil_reissued_usedmoney,
		sum(notoil_order_usedmoney) notoil_order_usedmoney,sum(notoil_hfive_usedmoney) notoil_hfive_usedmoney
		from res_vipcoupon_station
		<where>
			days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
			<if test="station!=null">
			and station_id in
				<foreach collection="station" item="item" index="index" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		</where>
		group by 1,2
		order by 2,1 asc
	</select>
	<select id="queryCouponAlls" resultType="CouponAll">
		select <if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if> days,oil_allmoney,notoil_allmoney,score_allmoney,oil_usedmoney,notoil_usedmoney,
		score_usedmoney 
		from res_vipcouponbbb
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
			
		group by 1
		order by 1 asc
	</select>
	<select id="queryCouponOil" resultType="CouponByType">
		select <if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if> days,discount_allmoney,reduction_allmoney,giving_allmoney,discount_usedmoney,reduction_usedmoney,
		giving_usedmoney from res_vipcouponbbb_oil
		
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
			
		group by 1
		order by 1 asc
	</select>
	<select id="queryCouponShop" resultType="CouponByType">
		select <if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if> days,discount_allmoney,reduction_allmoney,giving_allmoney,discount_usedmoney,reduction_usedmoney,
		giving_usedmoney from res_vipcouponbbb_notoil
		
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
			
		group by 1
		order by 1 asc
	</select>
	
</mapper>
