<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CouponDayDao">
<select id="queryDataYesterDay" resultType="CouponDaySend">
	  select * from v_coupon_sum
	  where day=DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 24 HOUR),'%Y-%m-%d')
</select>
</mapper>
