<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CouponDao">
	<select id="query" resultType="Coupon">
		select 
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if>
		days
		,sum(allMoney) allMoney,SUM(usedMoney) usedMoney from res_vipCoupon
		
		where days between  DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		order by days asc
	</select>
	<select id="queryZhanbi" resultType="DataPack">
		select couponStatus name,couponMoney value from res_vipCouponRate
	</select>
</mapper>
