<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.EvaluationbDao">

	<select id="queryByDate" resultType="Evaluationb">
		select PROBLEM_ID,PROBLEMTEXT,SUM(yes) yes,sum(no) no,sum(unknow) unknow
		from res_vipEvaluationb_all
		<where>
			station_id in
			<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	#{item}  
			</foreach>
			and days between DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		</where>
		group by 2
		order by PROBLEM_ID desc
	</select>
	<select id="exportByDate" resultType="Evaluationb">
		select station_id stationID,PROBLEM_ID,PROBLEMTEXT,SUM(yes) yes,sum(no) no,sum(unknow) unknow
		from res_vipEvaluationb_all
		<where>
			station_id in
			<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	#{item}  
			</foreach>
			and days between DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		</where>
		group by 1,3
		order by 1 asc
	</select>
	<select id="exportData" resultType="EvaluationData">
		select s.name station,mobilePhone,DATE_FORMAT(evaluation_time,'%Y-%m-%d %H:%i') evaluation_time,
		hello,clean,sale,goodbye,toilet,STAR4 star4,star3,star,CONTENT content
		from res_evaluation re left join station s on re.station_id=s.id
		<where>
			station_id in
			<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	#{item}  
			</foreach>
			and evaluation_time between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		order by evaluation_time asc
	</select>
</mapper>
