<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.FirstExpendDao">
	
	<select id="queryAllExpend" resultType="FirstExpend">
		select count(carduser_id) number,vipFirstExpend day from res_vipFirstExpend 
		
		group by vipFirstExpend
	</select>
	
	
	<select id="queryAllGap" resultType="FirstExpend">
		select count(carduser_id) number,vipGap day from res_vipGap
		
		group by vipGap
	</select>
	
	
	<select id="queryLastDeal" resultType="FirstExpend">
		select count(CARDUSERID) number,lastDeal day from res_vipLastDeal group by lastDeal
	</select>
</mapper>
