<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.HomePageDao">

	<select id="queryList" resultType="HomePack">
	select oil.date,oil.oilMoney,ro.notoilMoney,wea.avgWater from (
	SELECT sum(oilMoney) oilMoney,DATE_FORMAT(minutes, '%Y-%m-%d') date
	FROM
		res_oil 
	where DATE_FORMAT(minutes, '%Y-%m-%d')>=   DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 7 day)
	GROUP BY
		DATE_FORMAT(minutes, '%Y-%m-%d')
	)oil LEFT JOIN(
		SELECT SUM(notoilMoney) notoilMoney,DATE_FORMAT(minutes, '%Y-%m-%d') date
	 from res_notoil
	where DATE_FORMAT(minutes, '%Y-%m-%d')>=   DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 7 day)
	GROUP BY
		DATE_FORMAT(minutes, '%Y-%m-%d')
	)ro on oil.date=ro.date left JOIN(
		SELECT avgWater,date
	 from weather
	where date>=DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 7 day)
	
	)wea on ro.date =wea.date
		
	</select>
	<select id="queryOil" resultType="DataPack">
		select oils name,sum(oilMoney) value from res_oil 
		
		where minutes>=DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 7 day)
		
		group by oils

	</select>
	<select id="queryNotOil" resultType="DataPack">
		select departmentName name,sum(departmentMoney) value from res_notoilDepartment
		
		where minutes>=DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 7 day)
		
		group by departmentName
		
	</select>
	<select id="queryAll" resultType="String">
		select DISTINCT departmentName from res_notoilDepartment UNION select DISTINCT oils from res_oil 
	</select>
	<select id="queryPriceBei" resultType="Price">
		select id,oil89 oil90,oil92 oil93,oil95 oil97,oil0,city,time from beijing_oilPrice
		
		where time>=DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 30 day)
		
		order by time
	</select>
	<select id="queryCheng" resultType="Price">
		select id,oil90,oil93,oil97,oil0,city,time from chengde_oilPrice
		
		where time>=DATE_SUB(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL 30 day)
		
		order by time
	</select>
</mapper>
