<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.MopDao">

	<select id="queryAllMop" resultType="String" >
		select distinct mopID from res_mop
	</select>
	<select id="queryMop" resultType="DataPack">
		select 
		mopID name,SUM(mopMoney) value
		
		from res_mop 
		<where>
			<if test="station!=null">
					stationId IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		
		group by 1
	</select>
	<select id="queryHHT" resultType="HHT">
		select 
		sum(HHTMoney) hhtMoney,sum(IPTMoney) iptMoney
		
		from res_HHTIPT <where>
			<if test="station!=null">
					stationId IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		hours between DATE_FORMAT(#{start},'%Y-%m-%d %H') and DATE_FORMAT(#{end},'%Y-%m-%d %H')
		</where>
	</select>
	
	
	<select id="queryMophht" resultType="DataPack">
		select 
		mopID name,SUM(mopMoney) value
		
		from res_mophht <where>
			<if test="station!=null">
					stationId IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		
		group by 1
	</select>
	<select id="queryMopipt" resultType="DataPack">
		select 
		mopID name,SUM(mopMoney) value
		
		from res_mopipt <where>
			<if test="station!=null">
					stationId IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1
	</select>
</mapper>
