<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.NotOilDao">
	<select id="queryNotOils" resultType="NotOil">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as minutes,
		sum(notoilNumber) notOilNumber,sum(notoilMoney) notoilMoney,sum(notoilMoney)/sum(notoilNumber) avgMoney
		
		<if test="people=='all'">
			from res_notoil
		</if>
		<if test="people=='vip'">
			from res_notoil_vip
		</if>
		
		<where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		  	minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1
	</select>
	<select id="queryExceptLube" resultType="DataPack">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as name,
		sum(itemValue)/sum(dealNum) as value
		<if test="people=='all'">
			from res_exceptLube
		</if>
		<if test="people=='vip'">
			from res_exceptLube_vip
		</if>
		
		<where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		  	minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1
	</select>
	
	<select id="queryByDepartmentName" resultType="NotOil">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as minutes,
		sum(departmentMoney) notoilMoney 
		<if test="people=='all'">
		
		from res_notoilDepartment 
		</if>
		<if test="people=='vip'">
			from res_notoilDepartment_vip
		</if>
		<where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
			<if test="departmentName!='all'">
				departmentName=#{departmentName} and 
			</if>
			minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where> 
		<if test="departmentName!='all'">
			group by 1,departmentName
		</if>
		<if test="departmentName=='all'">
			group by 1
		</if>
	</select>
	<select id="queryAllName" resultType="String">
		select distinct departmentName from res_notoilDepartment
	</select>
	<!-- 这是为了求便利店的开单率 -->
	<select id="queryRate" resultType="NotOil">
		select 
		<if test="date=='day'">
			DATE_FORMAT(hours,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(hours,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(hours,'%Y')
		</if> as minutes,
		sum(notoilNumber)/sum(allNumber) avgMoney 
		<if test="people=='all'">
			from res_notoilRate
		</if>
		<if test="people=='vip'">
			from res_notoilRate_vip
		</if>		
		 <where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 hours between DATE_FORMAT(#{start},'%Y-%m-%d %H') and DATE_FORMAT(#{end},'%Y-%m-%d %H')
		</where>
		group by 1
	</select>
	<select id="queryTop" resultType="DataPack">
		select top10 name,sum(money) value
		<if test="people=='all'">
			from res_notoilTop
		</if>
		<if test="people=='vip'">
			from res_notoilTop_vip
		</if>
		<where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		  minutes between DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		</where> 
		  group by productCode
		  order by sum(money) desc limit 10
	</select>
	
	
	
	
	<select id="queryByCompare" resultType="NotOil">
		select sum(departmentMoney) notOilMoney,sum(departmentNumber) notOilNumber,sum(departmentMoney)/sum(departmentNumber) avgMoney
		<if test="people=='all'">
			from res_notoilDepartment
		</if>
		<if test="people=='vip'">
			from res_notoilDepartment_vip
		</if>
		<where>
			<if test="station!=null">
				stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
			<if test="departmentName!='all'">
				departmentName=#{departmentName} and
			</if>
		  	minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
	</select>
	
	<!-- 这是为了求便利店的开单率 -->
	<select id="queryRateCompare" resultType="Double">
		select 
		sum(notoilNumber)/sum(allNumber) 
		
		from res_notoilRate ran left join station on ran.stationID=station.id left join tag_station st
		
		on station.id=st.stationId left join tag on st.tagId=tag.id left join category on
		
		station.categoryId=category.id
		
		where
		<if test="query=='station'">
			<if test="station!='all'">
				ran.stationID=#{station} and
			</if>
		</if>
		<if test="query=='category'">
			category.id=#{station} and
		</if>
		<if test="query=='tag'"> 
			tag_station.tagId=#{station} and
		</if>
		 ran.hours between DATE_FORMAT(#{start},'%Y-%m-%d %H') and DATE_FORMAT(#{end},'%Y-%m-%d %H')
	</select>
	<select id="querySearch" resultType="DataPack">
	select
		<if test="date=='day'">
			DATE_FORMAT(days,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(days,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(days,'%Y')
		</if> as name,sum(sellMoney) value 
		
		from res_notoilSearch 
		<where>
			<if test="station!=null">
				station_id IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		product_code=#{productCode} and 
		
		days between DATE_FORMAT(#{start},'%Y-%m-%d') and DATE_FORMAT(#{end},'%Y-%m-%d')
		</where>
		
		group by 1 order by 1 asc
	</select>
</mapper>
