<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.OilDao">
	<select id="queryOils" resultType="Oil">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as minutes,
		sum(oilNumber) oilNumber,sum(oilLitre) oilLitre, sum(oilLitre)/sum(oilNumber) oilMoney
		
		from res_oil ro left join station on ro.stationID=station.id left join tag_station st
		
		on station.id=st.stationId left join tag on st.tagId=tag.id left join category on
		
		station.categoryId=category.id
		
		<if test="query=='station'">
			where ro.stationId=#{station}
		</if>
		<if test="query=='category'">
			where category.id=#{station}
		</if>
		<if test="query=='tag'">
			where tag.id=#{station}
		</if> and minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		group by 1
	</select>
	<select id="queryByOils" resultType="Oil">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as minutes,
		sum(oilLitre) oilLitre from res_oil ro left join station on ro.stationID=station.id left join tag_station st
		
		on station.id=st.stationId left join tag on st.tagId=tag.id left join category on
		
		station.categoryId=category.id
		
		<if test="query=='station'">
			where station.id=#{station}
		</if>
		<if test="query=='category'">
			where category.id=#{station}
		</if>
		<if test="query=='tag'">
			where tag.id=#{station}
		</if>and oils=#{oilName} and minutes between DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		group by 1,oils
	</select>
	<select id="queryAllName" resultType="String">
		select distinct oils from res_oil
	</select>
</mapper>
