<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.OilDao">
	<select id="queryOils" resultType="Oil">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as minutes,
		sum(oilNumber) oilNumber,sum(oilLitre) oilLitre,sum(oilMoney) oilMoney, sum(oilLitre)/sum(oilNumber) avgLitre
		<if test="people=='vip'">
			from res_oil_vip ro
		</if>	
		<if test="people=='all'">
			from res_oil  ro
		</if>
		<where>
			<if test="station!=null">
					stationID IN 
					<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1
	</select>
	<select id="queryAllAndVip" resultType="OilAndVip">
		select oil.date,oil.oilNumber,oil.oilLitre,oil.avgLitre avgLitre, oil.oilMoney oilMoney,
		vipOil.oilNumber vipOilNumber,
		vipOil.oilLitre vipOilLitre,vipOil.avgLitre vipAvgLitre,vipOil.oilMoney vipOilMoney 
		oil.oilNumber-vipOil.oilNumber notVipOilNumber,oil.oilLitre-vipOil.oilLitre notVipOilLitre,
		(oil.oilLitre-vipOil.oilLitre)/(oil.oilNumber-vipOil.oilNumber) notVipAvgLitre,
		oil.oilMoney-vipOil.oilMoney notOilVipMoney
		from (select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as date,
		sum(oilNumber) oilNumber,sum(oilLitre) oilLitre,sum(oilMoney) oilMoney, sum(oilLitre)/sum(oilNumber) avgLitre
		from res_oil
		<where>
			<if test="station!=null">
					stationID IN 
					<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1) oil left join (select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as date,
		sum(oilNumber) oilNumber,sum(oilLitre) oilLitre, sum(oilMoney) oilMoney, sum(oilLitre)/sum(oilNumber) avgLitre
		
		from res_oil_vip
		<where>
			<if test="station!=null">
					stationID IN 
					<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1) vipOil on oil.date=vipOil.date  order by oil.date asc
	</select>
	
	<select id="queryByOils" resultType="Oilb">
		select 
		<if test="date=='minute'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H:%i')
		</if>
		<if test="date=='hour'">
			DATE_FORMAT(minutes,'%Y-%m-%d %H')
		</if>
		<if test="date=='day'">
			DATE_FORMAT(minutes,'%Y-%m-%d')
		</if>
		<if test="date=='month'">
			DATE_FORMAT(minutes,'%Y-%m')
		</if>
		<if test="date=='year'">
			DATE_FORMAT(minutes,'%Y')
		</if> as date,
		sum(litre92) litre92,sum(litre95) litre95,sum(litre97) litre97,sum(litre0) litre0,
		sum(litre_10) litre10,sum(litre_20) litre20
		from res_oilb 
		<where>
			<if test="station!=null">
					stationID IN 
					<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by 1
	</select>
	<select id="queryAllName" resultType="String">
		select distinct oils from res_oil
	</select>
	<select id="queryzhanbi" resultType="Oil">
		select oils,sum(oilLitre) oilLitre
		from res_oil <where>
			<if test="station!=null">
					stationID IN 
					<foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
		group by oils
	</select>
	<!-- 同比环比的查询 -->
	<select id="queryCompare" resultType="Oil">
		select sum(oilLitre) oilLitre,sum(oilNumber) oilNumber
		<if test="people=='all'">
			from res_oil 
		</if>
		<if test="people=='vip'">
			from res_oil_vip
		</if>		
		
		<where>
			<if test="station!=null">
					stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
			<if test="oilName!='all'">
				oils=#{oilName} and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
	</select>
	<!--为了查询柴油汽油的销量  -->
	<select id="queryOilsByType" resultType="Oil">
		select sum(oilLitre) oilLitre
		<if test="people=='all'">
			from res_oil 
		</if>
		<if test="people=='vip'">
			from res_oil_vip
		</if>		
		<where>
			<if test="station!=null">
					stationID IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
			<if test="oilNames!=null">
				oils in 
				<foreach collection="oilNames" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
				and
			</if>
		 minutes >= DATE_FORMAT(#{start},'%Y-%m-%d %H:%i') and minutes &lt; DATE_FORMAT(#{end},'%Y-%m-%d %H:%i')
		</where>
	</select>
	
</mapper>
