<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.StationDao">

	<update id="update" parameterType="Station">
		update tag set categoryId=#{category.id},tagId=#{tag.id} where id=#{id}
	</update>
	
	<resultMap type="list" id="sta">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="city" property="city"/>
		<association property="categoty" column="categotyId" javaType="Category" select="com.yb.dao.CategoryDao.queryById"/>
		<association property="tag" column="tagId" javaType="Tag" select="com.yb.dao.TagDao.queryById"/>
	</resultMap>
	<select id="queryAll" resultMap="sta">
		select id,name,city,categoryId,tagId from station
	</select>
	
	<resultMap type="Station" id="res">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="city" property="city"/>
		<association property="categoty" column="categotyId" javaType="Category" select="com.yb.dao.CategoryDao.queryById"/>
		<association property="tag" column="tagId" javaType="Tag" select="com.yb.dao.TagDao.queryById"/>
	</resultMap>
	<select id="queryById" resultMap="res">
		select id,name,city,categoryId,tagId from station where id=#{id}
	</select>
</mapper>
