<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TargetDao">
	<select id="queryTarget" resultType="DataPack">
		select rt.month name,actualQuantity/salesTarget value
		
		from res_tr rt left join res_resTR rrs on rt.station_id=rrs.station_id 
		
		and rt.month=rrs.month
		<where>
			<if test="station!=null">
					rt.station_id IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			</if>
		</where>
		group by rt.month
		order by rt.month
	</select>
	<select id="queryByYear"  resultType="Double">
		SELECT sum(salesTarget) FROM res_resTR 
		<where>
			<if test="station!=null">
					station_id IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		 month= DATE_FORMAT(NOW(),'%Y')
		</where>
	</select>
	<select id="queryReal"  resultType="Double">
		SELECT SUM(actualQuantity) from res_tr
		<where>
			<if test="station!=null">
					station_id IN <foreach collection="station" index="index" item="item" open="(" separator="," close=")">  
			       	 	#{item}  
			    	</foreach>
			    	and
			</if>
		month like CONCAT(DATE_FORMAT(NOW(),'%Y'), '%')
		</where>
	</select>
</mapper>
