<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.WeatherDao">
	<insert id="insert" parameterType="Weather">
		insert into weather(date,avgWater,city) values(#{date},#{avgWater},#{city})
	</insert>
</mapper>
